
<div class="container-fluid">
    home dashboard
    <div class="row">
        <div class="col">
            <app-accordion></app-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-alerts></app-alerts>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-badge></app-badge>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-button-group></app-button-group>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-buttons></app-buttons>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-card></app-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-close-button></app-close-button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-collapse></app-collapse>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-dropdowns></app-dropdowns>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-list-group></app-list-group>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-offcanvas></app-offcanvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-pagination></app-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-placeholders></app-placeholders>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col">
            <app-popovers></app-popovers>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-progress></app-progress>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-scrollspy></app-scrollspy>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-spinners></app-spinners>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-toasts></app-toasts>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-tooltips></app-tooltips>
        </div>
    </div>
</div>