<nav id="menu" class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand">Project Management</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/project" class="nav-link">Project</a>
        </li>
        <li class="nav-item">
          <a routerLink="/board" class="nav-link">Board</a>
        </li>
        <li class="nav-item">
          <a routerLink="/team" class="nav-link">Team</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
